<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <style>

        h2{
            margin: 20px 0px;
            text-align: center;
        }
        h3{
            margin:20px 0px
        }
        p{
            margin: 15px 0px;
        }
    </style>
</head>

<body>
    <h2>Terms and Conditions</h2>
    <p>These Terms and Conditions govern your use of our mobile application, BlackListed, and any services provided therein, operated by Bell Business Ventures, LLC. By downloading, accessing, or using BlackListed, you agree to be bound by these Terms. If you disagree with any part of these Terms, you may not access or use BlackListed.</p>
    
    <h3>1. Acceptance of Terms</h3>
    <p>By accessing or using BlackListed, you acknowledge that you have read, understood, and agree to be bound by these Terms, as well as our Privacy Policy. If you do not agree to these Terms or our Privacy Policy, you may not use BlackListed.</p>
    
    <h3>2. Use of BlackListed</h3>
    <p>You agree to use BlackListed solely for lawful purposes and in accordance with these Terms and any applicable laws or regulations. You are prohibited from using BlackListed in any manner that could damage, disable, overburden, or impair BlackListed or interfere with any other party's use of BlackListed.</p>
    
    <h3>3. Intellectual Property</h3>
    <p>BlackListed and its original content, features, and functionality are owned by Bell Business Ventures, LLC and are protected by international copyright, trademark, and other intellectual property or proprietary rights laws. You may not modify, reproduce, distribute, or create derivative works based on BlackListed without prior written consent from Bell Business Ventures, LLC.</p>
    
    <h3>4. User Accounts</h3>
    <p>Some features of BlackListed may require you to create an account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account or any other breach of security.</p>
    
    <h3>5. User Content</h3>
    <p>By using BlackListed, you may be able to upload, submit, store, send, or receive content. You retain ownership of any intellectual property rights that you hold in the User Content. However, by uploading, submitting, storing, sending, or receiving User Content through BlackListed, you grant Bell Business Ventures, LLC a worldwide, royalty-free, non-exclusive license to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform, and publicly display the User Content.</p>
</body>

</html>
