<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: black;
            display:flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            padding: 30px;
        }
        .logo {
            max-width: 200px;
            width: 100%;
        }
        .imageWrapper {
            display:flex;
            align-items: center;
            justify-content: center;
            
        }
        .message{
            text-align: center;
        }
        h3{
            margin: 0px;
            color:white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="imageWrapper">
            <img class="logo" src="https://res.cloudinary.com/dnxw3kkfw/image/upload/v1720153730/bgm4ysyqr0czndi1wsnx.png" alt="Company Logo">
        </div>
        <div class="message">
            <h3>Email has been verified successfully.</h3>
        </div>
    </div>
</body>
</html>